body, g-inner-card, .iKjWAf, .sfbgg {
    background-color: #121212 !important;
}

#hdtbSum, #appbar, .gb_C, .ab_dropdown, .hdtb-mn-o, .hdtb-mn-c, .vk_c, .vk_cxp, .gb_z{
    background: #121212 !important;
}

#hdtb, .gb_z, .gb_E, .b2hzT, #fbar, .garHBe {
    border-color: #505050 !important;
}

.gb_z, .gb_Eb, .IZACzd, .Ndq8Rb, .piVJ4d, .cwUqwd {
    color: white !important;
}

.gb_ub:hover {
    background-color: #363636 !important;
}

.gb_qb:hover {
    background-color: #505050 !important;
}

.h7xSye {
    fill: rgba(255, 255, 255, 0.57) !important;
    border: rgba(255, 255, 255, 0.57) !important;
}

.h7xSye:hover {
    fill: rgb(255, 255, 255) !important;
    border: rgb(255, 255, 255) !important;
}

.gb_D, .gb_qb {
    background: #1b1b1b !important;
}

.gb_qb:hover {
    background: rgb(75, 75, 75) !important;
}

.minidiv .sfbg {
    box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.28);
}

.gb_Vb {
    background-color: white;
}

.gb_yc {
    background-color: black !important;
}

/*  borders for tables and cards */
.cv2VAd, .kp-blk, .vk_c, .vk_cxp, #rhs .fIcnad { 
    border-color: #505050 !important;    
}

#appbar {
    background: #121212 !important;
}

.y, .yp, .yf, .yi, .yl, .ye {
    color: #D7D7D7;
}

.s .st em, .st.s.std em {
    color: #c6c2c2 !important;
}

.s {
    color: #999 !important;
}

.JolIg, .C9iYEe, .gb_3a .gb_0 {
    color: white !important;
}

.w8qArf .fl, .wUrVib {
    color: #006621 !important;
}


/* MORE text */
.SW5pqf, .EZRelc, .xXEKkb {
    color: #20ffe0 !important;
}

.RJ3lSb {
    color: rgba(255, 255, 255, 0.62) !important;
}

.HF3S5b {
    color: rgba(255, 255, 255, 0.26) !important;
}

.mFI2Qb {
    color: rgba(255, 255, 255, 0.87) !important;
}

.XCKyNd {
    cursor: pointer;
}

/* sharing button */
.rsir2d {
    color: white !important;
}

.ab_button {
    background: #121212 !important;
}

.logo a img {
    background: #121212 !important;
}

.ILfuVd {
    color: #dbd3d3
}

.vO2mCd {
    color: white;
}

.uUgsp {
    color: white;
}

.sfbg, #fbar{
    background-color: #121212 !important;
}

.Q8LRLc {
    color: white !important;
}

.brs .med, #swml-loc, #brs .med {
    color: #cecece !important;
}

#gsr, #gbwa, .Z0LcW, .Ss2Faf, .eJ7tvc, .i29hTd .qLLird {
    color: #ededed !important;
}

/* .w8qArf .fl {
    color: #006621 !important;
} */

.mod, #foot #navcnt .cur, .webanswers-webanswers_table__webanswers-table th, .kno-ecr-pt, .C9iYEe {
    color: white !important;
}

/* links */
a:link, .u2sJ0e .lA0GG, #hdtb .hdtb-mitem a, .xXEKkb, #hdtb .hdtb-mitem a  {
    color: #3ea6ff !important;
}

a:hover, .u2sJ0e .lA0GG:hover {
    color: #9ed0fc !important;
}

a:visited {
    color: rgb(201, 69, 201) !important;
}

#hdtb-tls:hover {
    color: #222 !important;
}
